/*Estilos de las indicaciones de uso*/
body{
    background-color: var(--Color-secundario);
}

header{
    display: flex;
    flex-direction: row;
    gap: 20vw;
}

#titulo{
    margin-left: 20vw;
}

h1{
    color: white;
    font-size: 3vw;
}

#Diente1{
    width: 15vh;
}

label{
    font-size: 1vw;
    
}

input{
    height: 4vh;
    background-color: var(--Color-secundario);
    border-style: solid;
    border-color: var(--Color-principal);
    width: 50vw;
    color: white;
    font-size: 1.5vw;
}

main{
    display: flex;
    flex-direction: row;
}

.main-left{
    width: 60%;
}

/*.parrafo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 20vh;
}*/

#indicaciones{
    background-color: var(--Color-secundario);
    border-style: solid;
    border-radius: 15px;
    border-color: white;
    resize: none;
    margin-left: 8vw;
    margin-top: 5vh;
    width: 50vw;
    height: 50vh;
    color: white;
    font-size:  1.5vw;
}



button{
    background-color: var(--Color-principal);
    color: black;
}

textarea:focus{
    outline: none;
}

#diente{
    width: 8vw;
}

.main-right{
    width: 40%;
}

#doctor{
    width: 15vw;
    display: flex;
    justify-self: end;
    margin-top: 30vh;
    margin-right: 5vw;
}

.img-button{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img-button>button{
    margin-left: 10vw;
}